{% embed 'sections/blog.html' %}
    {% block blog_content %}
    <div class="row posts">
        {% for post in posts %}
        <article class="col-12 col-md-6 col-lg-4 mb-5">
            <a href="post/{{ post.slug }}.html">
                <img class="mb-2" src="{{ post.post_media.thumb }}" alt="{{ post.post_media_alt }}" loading="lazy">
                <h3>{{ post.title }}</h3>
            </a>
            <div class="meta my-2">
                {{ post.date | format_date(locale=locale) }} |
                <a href="category/{{ attribute(categories, post.categories | first).slug }}.html">
                    {{ attribute(categories, post.categories | first).name }}
                </a>
            </div>
            <a href="post/{{ post.slug }}.html">
                <p>{{ post.excerpt | striptags | trim }}</p>
            </a>
        </article>
        {% endfor %}
    </div>
    {% endblock %}
{% endembed %}

