<footer class="bg-secondary text-white pt-4 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <h5>Lorem ipsum dolor sit amet</h5>
                <nav class="nav flex-column">
                    <a href="#" class="text-reset">Consectetuer.</a>
                    <a href="#" class="text-reset">Aliquam tincidunt mauris.</a>
                    <a href="#" class="text-reset">Vestibulum auctor.</a>
                    <a href="#" class="text-reset">Nunc dignissim risus.</a>
                    <a href="#" class="text-reset">Cras ornare.</a>
                </nav>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <h5>Vivamus vestibulum ntulla nec ante</h5>
                <nav class="nav flex-column">
                    <a href="#" class="text-reset">Praesent placerat risus.</a>
                    <a href="#" class="text-reset">Fusce pellentesque.</a>
                    <a href="#" class="text-reset">Integer vitae libero ac risus.</a>
                    <a href="#" class="text-reset">Vestibulum commodo felis.</a>
                    <a href="#" class="text-reset">Ut aliquam.</a>
                    <a href="#" class="text-reset">Cras iaculis.</a>
                    <a href="#" class="text-reset">Donec quis dui at dolor.</a>
                </nav>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <h5>Contact</h5>
                <nav class="nav flex-column">
                    <span>+00 (00)&nbsp;0000-0000</span>
                    <a href="#" class="text-reset">pedrosancao@users.noreply.github.com</a>
                </nav>
            </div>
        </div>
        <p class="text-center copy">&copy {{ title }}</p>
    </div>
</footer>
