<header>
    <h1 class="sr-only">{{ title }}</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" ar1ia-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href=".">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/pedrosancao/wordpress-static-generator" target="_blank" rel="noreferrer noopener">View on GitHub</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
