<section class="single-post single-post-{{ post.id }}">
    <div class="container py-3">
        <div class="row">
            <div class="col-12 col-lg-9 posts">
                <article>
                    <h2>{{ post.title }}</h2>
                    {{ index }}
                    <picture class="post-media">
                        <img src="{{ post.post_media.large }}" alt="{{ post.post_media_alt }}" loading="lazy">
                    </picture>
                    <div class="meta my-2">
                        By {{ attribute(authors, post.author) }} |
                        {{ post.date | format_date(locale=locale) }} |
                        <a href="category/{{ attribute(categories, post.categories | first).slug }}.html">
                            {{ attribute(categories, post.categories | first).name }}
                        </a>
                        {% if fb_app %}
                        |
                       <a class="text-reset" href="post/{{ post.slug }}.html#comentarios">
                           <span class="fb-comments-count" data-href="{{ base }}post/{{ post.slug }}.html"></span> comentário(s)
                       </a>
                        {% endif %}
                    </div>
                    {{ post.content | trim }}
                    <nav class="post-navigation">
                        {% set index = posts | filter(p => p.id == post.id) | keys | first %}
                        {% if attribute(posts, index - 1) is defined %}
                        <a href="post/{{ attribute(posts, index - 1).slug }}.html" class="float-left" rel="prev">Previous post</a>
                        {% endif %}
                        {% if attribute(posts, index + 1) is defined %}
                        <a href="post/{{ attribute(posts, index + 1).slug }}.html" class="float-right" rel="next">Next post</a>
                        {% endif %}
                    </nav>
                </article>
                {% if fb_app %}
                <div id="comentarios" class="mb-5"></div>
                <div class="fb-comments" data-href="{{ base }}post/{{ post.slug }}.html" data-width="100%"></div>
                {% endif %}
            </div>
            <div class="col-12 col-lg-3">
                {% include 'sections/sidebar-latest-posts.html' with {
                    show_images: true,
                    posts: posts | filter(p => p.id != post.id) | slice(0, 7)
                } %}
            </div>
        </div>
    </div>
</section>
